@import "tailwindcss";
.header{
    background-image: url("./2722\ [преобразованный]\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.lg{
    background-image: url("./2722\ [преобразованный]\ 5.png");
    background-repeat: no-repeat;
    background-size: cover;
}